<div class="fixed-header">
    <div class="container">
        <form action="/" class="search-form">
            <input type="text" placeholder="Поиск по сайту..." required>
            <button type="submit"></button>
        </form>
        <a href="javascript:;" id="sv_on" class="low_see">Версия для слабовидящих</a>
    </div>
</div>

<div class="header logo cover" style="background-image: url(img/header-bg.jpg);">
    <div class="container">
        <div class="suptext">Сайт входит в межрегиональную информационную систему «Общедоступная информация образовательных организаций России»</div>
        <div class="school-name-row">
            <div class="school-logo"><img src="img/logo.png" alt=""></div>
            <div class="school-name">Муниципальная общеобразовательная средняя школа №2579 с гуманитарным уклоном деревни Нижние Волочки Софиевского уезда Какойтотам области Непонятнокакого района</div>
        </div>
        <div class="school-contacts-row">
            <div class="phone"><a href="tel:+70000000000">+7 (000) 000-00-00</a></div>
            <div class="address">Нижние волочки Софиевского уезда, Какойтотам области Непонятнокакого района, дом 18</div>
        </div>
    </div>
</div>