<div class="sidebar">
    <div class="scroll-block">
        <div class="sidemenu">
            <div class="burder">Меню сайта</div>
            <ul class="menu">
                <li>
                    <a href="">Главная</a>
                </li>
                <a href=""></a>
                <li class="has-child">
                    <a href="">Сведения об образовательной	организации</a>
                    <ul>
                        <li><a href="">Пример внутренней страницы</a></li>
                        <li><a href="">Детские безопасные сайты</a></li>
                    </ul>
                </li>
                <li class="has-child opened">
                    <a href="">Информационная безопасность</a>
                    <ul>
                        <li>
                            <a href="">Нормативное регулирование</a>
                        </li>
                        <li>
                            <a href="">Педагогическим работникам</a>
                        </li>
                        <li class="has-child opened">
                            <a href="">Обучающимся</a>
                            <ul>
                                <li class="active"><a href="">Пример внутренней страницы</a></li>
                                <li><a href="">Детские безопасные сайты</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Родителям</a>
                        </li>
                        <li>
                            <a href="">Детские безопасные сайты</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Антикоррупция</a>
                </li>
                <li>
                    <a href="">Независимая оценка качества</a>
                </li>
                <li>
                    <a href="">Педагоги</a>
                </li>
                <li>
                    <a href="">Условия приема</a>
                </li>
            </ul>
        </div>

        <div class="rss-news home-block">
            <div class="title-block">RSS Новости</div>
            <div class="news full-news">
                <div class="news-title-row">
                    <span class="news-title">День знаний!</span>
                    <span class="news-date">01.09.2019</span>
                </div>
                <div class="news-content">
                    <img src="img/rss-test.png" alt="">
                    <div class="news-text">День знаний был объявлен государственным праздником в 1980 году, но только в 1984 его массово отметили во всех советских школах. Сделать первым учебным днем именно 1 Сентября решили коммунисты — в 1935 году они обязали все учебные заведения начинать учебный год в первый день осени. До этого в стране не было единой даты начала школьных занятий</div>
                    <div class="news-link-row">
                        <a href="" class="more">Подробнее >>></a>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news-title-row">
                    <span class="news-title">Мы против террора!</span>
                    <span class="news-date">01.09.2019</span>
                </div>
                <div class="news-content">
                    <div class="news-text">День знаний был объявлен государственным праздником в 1980 году, но только в 1984 его массово отметили во всех советских школах. Сделать первым учебным днем именно 1 Сентября решили коммунисты — в 1935 году они обязали все учебные заведения начинать учебный год в первый день осени. До этого в стране не было единой даты начала школьных занятий</div>
                    <div class="news-link-row">
                        <a href="" class="more">Подробнее >>></a>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news-title-row">
                    <span class="news-title">Теперь Вы можете подать заявление на Госуслугах!</span>
                    <span class="news-date">01.09.2019</span>
                </div>
                <div class="news-content">
                    <img src="img/rss-test.png" alt="">
                    <div class="news-text">День знаний был объявлен государственным праздником в 1980 году, но только в 1984 его массово отметили во всех советских школах. Сделать первым учебным днем именно 1 Сентября решили коммунисты — в 1935 году они обязали все учебные заведения начинать учебный год в первый день осени. До этого в стране не было единой даты начала школьных занятий</div>
                    <div class="news-link-row">
                        <a href="" class="more">Подробнее >>></a>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news-title-row">
                    <span class="news-title">Классные часы, посвященные ПДД</span>
                    <span class="news-date">01.09.2019</span>
                </div>
                <div class="news-content">
                    <img src="img/rss-test.png" alt="">
                    <div class="news-text">День знаний был объявлен государственным праздником в 1980 году, но только в 1984 его массово отметили во всех советских школах. Сделать первым учебным днем именно 1 Сентября решили коммунисты — в 1935 году они обязали все учебные заведения начинать учебный год в первый день осени. До этого в стране не было единой даты начала школьных занятий</div>
                    <div class="news-link-row">
                        <a href="" class="more">Подробнее >>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>