<div class="sv_settings text-center" id="sv_settings">
    <span>Размер шрифта
        <span class="fs-outer low-outer">
            <button class="fs-n" id="fs-n">А</button>
            <button class="fs-m" id="fs-m">А</button>
            <button class="fs-l" id="fs-l">А</button>
        </span>
    </span>

    <span>Шрифт
        <span class="ff-outer low-outer">
            <button class="ff-n" id="ff-n">Ая</button>
            <button class="ff-z" id="ff-z">Ая</button>
        </span>
    </span>

    <span>Межсимвольный интервал
        <span class="ls-outer low-outer">
            <button class="ls-s" id="ls-s">aa</button>
            <button class="ls-m" id="ls-m">aa</button>
            <button class="ls-b" id="ls-b">aa</button>
        </span>
    </span>

    <span>Межстрочный интерва
    <span class="lh-outer low-outer">
            <button class="lh-s lh-s-bg" id="lh-s"></button>
            <button class="lh-m lh-m-bg" id="lh-m"></button>
            <button class="lh-b lh-b-bg" id="lh-b"></button>
        </span>
    </span>

    <span>Цветовая схема
        <span class="cs-outer low-outer">
            <button class="cs-bw" id="cs-bw">А</button>
            <button class="cs-wb" id="cs-wb">А</button>
            <button class="cs-bb" id="cs-bb">А</button>
            <button class="cs-gb" id="cs-gb">А</button>
            <button class="cs-yg" id="cs-yg">А</button>
        </span>
    </span>

    <span>Изображения
        <span class="img-outer low-outer">
            <button class="img-c img-c-bg" id="img-c"></button>
            <button class="img-g img-g-bg" id="img-g"></button>
            <button class="img-n img-n-bg" id="img-n"></button>
        </span>
    </span>
</div>