body{
  /* межсимвольный интервал */
  &.letter-spacing-medium{
    @media screen and (min-width:1025px) {
      .main .sidebar{
        width: 400px;
        flex-shrink: 0;
      }
      .main-content {
        width: calc(100% - 430px);
      }
    }
  }
  &.letter-spacing-big{
    @media screen and (min-width:1025px) {
      .main .sidebar{
        width: 480px;
        flex-shrink: 0;
      }
      .main-content {
        width: calc(100% - 510px);
      }

    }
  }

  /* межстрочный интервал */
  &.line-height-medium{
    .home-main-block.opros-block .flex-block .opros .content-block .btn-row{
      position: static;
    }
    @media screen and (min-width:1025px) {
      .sidemenu .menu li.has-child>a::before{
        top: 0.8rem;
      }
    }
  }
  &.line-height-big{
    .home-main-block.opros-block .flex-block .opros .content-block .btn-row{
      position: static;
    }
    @media screen and (min-width:1025px) {
      .sidemenu .menu li.has-child>a::before{
        top: 1.3rem;
      }
    }
  }

  /*самый большой шрифт*/
  &.font-size-big{
    @media screen and (min-width:1025px) {
      .school-info-home-block{
        display: block;
      }
      .school-info-home-block .director-info-block, .school-info-home-block .director-info-block+.school-hello-block{
        width: auto;
        max-width: none;
        margin-left: 0;
      }
    }
  }

  /*цветовые схемы*/
  &.whiteAndBlack{
    .sidemenu .menu li.active::before {
      background: black;
    }
    .btn-blue{
      background-color: black;
      color: white;
      box-shadow: none;
    }
  }
  &.blackAndWhite{
    .sidemenu .menu li.active::before {
      background: white;
    }
    .btn-blue{
      background-color: white;
      color: black;
      box-shadow: none;
    }
  }
  &.blueAndBlue{
    .sidemenu .menu li.active::before {
      background: #063462;
    }
    .btn-blue{
      background-color: #063462;
      color: #9dd1ff;
      box-shadow: none;
    }
  }
  &.yellowAndGray{
    .sidemenu .menu li.active::before {
      background: #4d4b43;
    }
    .btn-blue{
      background-color: #4d4b43;
      color: #f7f3d6;
      box-shadow: none;
    }
  }
  &.brownAndGreen{
    .sidemenu .menu li.active::before {
      background: #a9e44d;
      box-shadow: none;
    }
    .btn-blue{
      background-color: #a9e44d;
      color: #3b2717;
      box-shadow: none;
    }
  }
}