body{
  /* межсимвольный интервал */
  &.letter-spacing-medium{
    @media screen and (min-width:1025px) {
      .main .sidebar{
        width: 400px;
        flex-shrink: 0;
      }
      .main-content {
        width: calc(100% - 430px);
      }
    }
  }
  &.letter-spacing-big{
    @media screen and (min-width:1025px) {
      .main .sidebar{
        width: 500px;
        flex-shrink: 0;
      }
      .main-content {
        width: calc(100% - 530px);
      }

    }
  }

  /* межстрочный интервал */
  &.line-height-medium{
    @media screen and (min-width:1025px) {
      .sidemenu .menu li.has-child>a::before{
        top: 0.8rem;
      }
    }
  }
  &.line-height-big{
    @media screen and (min-width:1025px) {
      .sidemenu .menu li.has-child>a::before{
        top: 1.3rem;
      }
    }
  }

  /*самый большой шрифт*/
  &.font-size-big{
    @media screen and (min-width:1025px) {
      .school-info-home-block{
        display: block;
      }
      .school-info-home-block .director-info-block, .school-info-home-block .director-info-block+.school-hello-block{
        width: auto;
        max-width: none;
        margin-left: 0;
      }
    }
  }
}