$font1: "Roboto", sans-serif;

*:focus{
	outline: none;
}

html{
	font-family: $font1;
	font-size: 16px;
}
body{
	font-family: $font1;
	color: #2d2f32;
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 1430px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
}


a{
	text-decoration: none;
}

input, textarea{
	color: #2d2f32;
}

::placeholder{
	font-family: $font1;
	color: #a2aab3;
}

#wrapper{
	padding-top: 60px;
	padding-bottom: 190px;
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
	@include media((
					padding-bottom: (md: 0),
	));
	&.bad-see{
		padding-top: 120px;
		.fixed-header{
			top: 60px;
			.sidemenu{
				max-height: calc(100vh - 120px);
			}
		}
		.main {
			.sidebar {
				.scroll-block {
					top: 120px;
					max-height: calc(100vh - 120px);
				}
			}
		}
	}
}

.fixed-header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 60px;
	background-color: #47b1c8;
	.container{
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		.search-form{
			position: relative;
			display: flex;
			@include media((
							display: (md: none),
			));
			input{
				font-size: 0.8125rem;
				font-weight: 400;
				background: #ffffff;
				border: none;
				width: 411px;
				height: 30px;
				border-radius: 15px;
				box-sizing: border-box;
				padding: 0 30px 0 18px;
			}
			button{
				cursor: pointer;
				display: block;
				width: 30px;
				height: 30px;
				background: url("../img/search.svg") left center no-repeat;
				position: absolute;
				right: 0;
				top: 0;
				border: none;
			}
			&.active{
				@include media((
								display: (md: block),
								position: (md: absolute),
								left: (md: 0),
								top: (md: 100%),
								width: (md: 100%),
				));
				input{
					@include media((
									width: (md: 100%),
									border-radius: (md: 0),
					));
				}
			}
		}
		.low_see{
			font-size: 1rem;
			color: #ffffff;
			position: relative;
			line-height: 1;
			@include media((
							font-size: (sm: 0.875rem),
			));
			&::before{
				content: "";
				display: inline-block;
				width: 22px;
				height: 16px;
				background: url("../img/see.svg") center center no-repeat;
				margin-right: 9px;
				margin-bottom: 3px;
				vertical-align: middle;
				@include media((
								margin-right: (sm: 5px),
				));
			}
		}

		.mobile-icons{
			display: none;
			align-items: center;
			margin-right: -11px;
			@include media((
							display: (md: flex),
			));
			.search-btn{
				display: block;
				width: 19px;
				height: 19px;
				background: url("../img/search-mobile.svg") center center no-repeat;
				background-size: contain;
				cursor: pointer;
				transition: transform 400ms;
				&.active{
					transform: rotate(-45deg);
				}
			}
			.mobile-menu-toggle{
				display: block;
				cursor: pointer;
				svg{
					width: 50px;
					height: 50px;
					display: block;
					cursor: pointer;
					-webkit-tap-highlight-color: transparent;
					transition: transform 400ms;
					-moz-user-select: none;
					-webkit-user-select: none;
					-ms-user-select: none;
					user-select: none;
					.line {
						fill:none;
						transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
						stroke:#ffffff;
						stroke-width:5;
						stroke-linecap:round;
						&.top{
							stroke-dasharray: 40 121;
						}
						&.bottom{
							stroke-dasharray: 40 121;
						}
					}
				}
				&.active{
					svg{
						transform: rotate(45deg);
						.line{
							&.top{
								stroke-dashoffset: -68px;
							}
							&.bottom{
								stroke-dashoffset: -68px;
							}
						}
					}
				}
			}
		}
	}

	.sidemenu{
		position: absolute;
		left: 0;
		top: 100%;
		background: #ffffff;
		display: none;
		max-height: calc(100vh - 60px);
		overflow-y: auto;
		overflow-x: hidden;
		border-bottom: 4px solid #47b1c8;
		.menu{
			border-radius: 0;
			border: none;
		}
		@media all and (min-width: 1025px) {
			display: none !important;
		}
	}
}



.header{
	padding: 23px 0 29px;
	background: #ffffff;
	background-size: cover;
	@include media((
					padding: (sm: 19px 0 28px),
	));
	.suptext{
		color: #5d636a;
		font-size: 0.8125rem;
		@include media((
						text-align: (sm: center),
						font-size: (sm: 0.75rem),
						line-height: (sm: 1.25rem),
		));
	}
	.school-name-row{
		margin-top: 6px;
		display: flex;
		align-items: center;
		@include media((
						flex-direction: (sm: column),
		));
		.school-logo{
			margin-right: 12px;
			max-width: 40%;
			flex-shrink: 0;
			@include media((
							max-width: (sm: 100%),
							margin-right: (sm: 0),
							margin-bottom: (sm: 10px),
			));
			img{
				display: block;
				max-width: 100%;
			}
		}
		.school-name{
			color: #2d2f32;
			font-size: 1.75rem;
			line-height: 2rem;
			@include media((
							font-size: (md: 1.375rem),
							text-align: (sm: center),
			));
		}
	}
	.school-contacts-row{
		margin-top: 26px;
		display: flex;
		font-size: 1rem;
		@include media((
						margin-top: (md: 25px),
						margin-left: (md: auto),
						margin-rigth: (md: auto),
						flex-direction: (sm: column),
						align-items: (sm: center),
						font-size: (sm: 0.875rem),
						line-height: (sm: 1.125rem),
						max-width: (sm: 95%),
		));
		.phone{
			padding-left: 19px;
			position: relative;
			a{
				color: #474950;
				white-space: nowrap;
			}
			&::before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 2px;
				width: 15px;
				height: 15px;
				background: url("../img/phone.svg") center center no-repeat;
				background-size: contain;
			}
		}
		.address{
			margin-left: 23px;
			padding-left: 20px;
			position: relative;
			@include media((
							margin-left: (sm: 0),
							margin-top: (sm: 9px),
			));

			&::before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 13px;
				height: 17px;
				background: url("../img/addr.svg") center center no-repeat;
				background-size: contain;
			}
		}
	}
}

.footer{
	background-color: #47b1c8;
	padding: 23px 0 23px;
	height: 80px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	@include media((
					position: (md: static),
					height: (md: auto),
					margin-top: (md: 50px),
	));
	.text{
		text-align: center;
		color: #ffffff;
		font-size: 0.8125rem;
		a{
			color: #ffffff;
			text-decoration: underline;
			white-space: nowrap;
			&:hover{
				text-decoration: none;
			}
		}
		p+p{
			margin-top: 3px;
		}
	}
}


.main{
	position: relative;

	&::before{
		content: "";
		display: block;
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 1px;
		background: #e2e7ea;
		z-index: -1;
	}
	&::after{
		content: "";
		display: block;
		position: absolute;
		left:0;
		top:39px;
		width: 100%;
		height: 1px;
		background: #e2e7ea;
		z-index: -1;
		@include media((
						display: (md: none),
		));
	}
	.container{
		display: flex;
		justify-content: space-between;
	}
	.sidebar{
		width: 311px;
		padding-right: 17px;
		@include media((
						display: (md: none),
		));
		.scroll-block{
			width: 100%;
			position: sticky;
			top: 60px;
			max-height: calc(100vh - 60px);
			overflow-y: auto;
			overflow-x: hidden;
			> * + *{
				margin-top: 25px;
			}
		}
	}
}

.radio-btn {
	+.radio-btn {
		margin-top: 13px;
	}
}

.radio-label {
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
	color: #474950;
	font-size: 0.875rem;
	font-weight: 400;
}

input[type=radio] {
	margin: 0;
	margin-right: 6px;
	vertical-align: middle;
	outline: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #a6a6a6;
	border-radius: 100%;
	cursor: pointer;

	&:checked {
		background: #FFF url(../img/radio.svg) no-repeat center center;
		background-size: 12px 12px;
	}
}

.btn-blue{
	width: 201px;
	height: 36px;
	box-shadow: 0 3px 4px rgba(91, 167, 207, 0.5);
	border-radius: 18px;
	border: none;
	background-color: #47b1c8;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-family: $font1;
	font-size: 0.9375rem;
	font-weight: 400;
	cursor: pointer;
	transition: 0.3s ease;
	&:hover{
		box-shadow: 0 3px 4px rgba(91, 167, 207, 0.9);
	}
}

.form-style{
	input,textarea, select{
		border-radius: 5px;
		border: 1px solid #a6a6a6;
		background-color: #ffffff;
		padding: 10px 13px;
		box-sizing: border-box;
		color: #2d2f32;
		font-family: $font1;
		font-size: 0.875rem;
		font-weight: 400;
		max-width: 100%;
	}
	textarea{
		resize: none;
		height: 120px;
	}
	label.input-block{
		color: #474950;
		font-size: 0.875rem;
		font-weight: 400;
		margin-bottom: 19px;
		display: block;
		@include media((
						text-align: (sm: center),
		));
		input,textarea, select{
			display: block;
			margin-top: 5px;
			width: 100%;
		}
	}
}

.home-block{
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	padding: 20px 20px 20px 25px;
	box-sizing: border-box;
	.title-block{
		color: #2d2f32;
		font-size: 1.125rem;
		font-weight: 400;
		margin-bottom: 14px;
		&::after{
			content: "";
			display: block;
			margin-top: 13px;
			width: 100px;
			height: 2px;
			background-color: #5ba7cf;
		}
		span{
			color: #a2aab3;
			font-size: 0.875rem;
			font-weight: 400;
		}
	}
}


.sidemenu{
	width: 100%;
	.burder{
		background: #47b1c8;
		color: #fff;
		font-size: 1rem;
		width: 100%;
		line-height: 40px;
		padding-left: 12px;
		box-sizing: border-box;
		position: sticky;
		top: 0;
		z-index: 10;
		&::before{
			content: "";
			display: inline-block;
			margin-right: 13px;
			width: 18px;
			height: 10px;
			background: url("../img/burger.svg") center center no-repeat;
			background-size: contain;
		}
	}
	ul{
		list-style: none;
	}
	.menu{
		border-radius: 0 0 5px 5px;
		border: 1px solid #e6e6e6;
		border-top: none;
		width: 100%;
		padding: 11px 0 25px;
		box-sizing: border-box;
		>li{
			>a{
				margin-right: 40px;
				margin-left: 30px;
			}
			>ul{
				padding: 5px 0;
				>li{
					>a{
						margin-left: 50px;
					}
					>ul{
						padding: 5px 0;
						>li{
							>a{
								margin-left: 70px;
								color: #7e8894;
							}
						}
					}
				}
			}
		}
		li{
			padding-top: 6px;
			padding-bottom: 6px;
			position: relative;
			a{
				color: #474950;
				font-size: 0.9375rem;
				line-height: 1.125rem;
				position: relative;
				display: inline-block;
			}
			&.active{
				&::before{
					content: "";
					display: block;
					height: 100%;
					width: 2px;
					background: #da2238;
					position: absolute;
					left: 0;
					top: 0;
				}
				> a{
					color: #da2238 !important;
				}
			}
			&.has-child{
				>a{
					&::before{
						content: "";
						display: block;
						width: 5px;
						height: 10px;
						background: url("../img/menu-arr.svg") center center no-repeat;
						background-size: contain;
						position: absolute;
						left: -15px;
						top: 4px;
					}
				}
				ul{
					display: none;
				}
				&.opened{
					border-bottom: 1px solid #e6e6e6;
					>a{
						&::before{
							transform: rotate(90deg);
						}
					}
					>ul{
						display: block;
						border-top: 1px solid #e6e6e6;
						margin-top: 12px;
					}
				}
			}
		}
	}
}

.rss-news{
	.news{
		position: relative;
		padding-bottom: 9px;
		+.news{
			padding-top: 9px;
			&::before{
				content: "";
				width: calc(100% + 45px);
				left: -25px;
				top: 0;
				position: absolute;
				height: 1px;
				background-color: #e6e6e6;}
		}
		&:last-child{
			padding-bottom: 0;
		}
		.news-title-row{
			.news-title{
				color: #2d2f32;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.125rem;
			}
			.news-date{
				color: #a2aab3;
				font-size: 0.8125rem;
				font-weight: 400;
				line-height: 1.125rem;
				margin-left: 3px;
			}
		}
		.news-content{
			margin-top: 9px;
			img{
				max-width: 100%;
				margin-bottom: 12px;
			}
			.news-text{
				color: #474950;
				font-size: 0.8125rem;
				font-weight: 400;
				line-height: 1.25rem;
			}
			.news-link-row{
				margin-top: 8px;
				a{
					color: #5ba7cf;
					font-size: 0.8125rem;
					font-weight: 400;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		&:not(.full-news){
			.news-content{
				display: none;
			}
			&:hover{
				cursor: pointer;
				.news-title-row{
					.news-title{
						color: #5ba7cf;
					}
				}
			}
		}
	}
}

.page-title{
	color: #2d2f32;
	font-size: 1.75rem;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 30px;
	display: block;
	@include media((
					font-size: (sm: 1.375rem),
					line-height: (sm: 1.625rem),
					text-align: (sm: center),
	));
}

.main-content{
	width: calc(100% - 356px);
	@include media((
					width: (md: 100%),
					padding-top: (md: 0),
	));
}

.breads{
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 0.875rem;
	line-height: 1;
	overflow: hidden;
	@include media((
					display: (md: none),
	));
	a{
		color: #47b1c8;
		text-decoration: underline;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		&:hover{
			text-decoration: none;
		}
	}
	span.current{
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.sep{
		margin: 0 10px;
		display: block;
		width: 7px;
		height: 12px;
		background: url("../img/bread.svg") center center no-repeat;
		background-size: contain;
	}
}

.home-slider{
	width: 100%;
	@include media((
					display: (md: none),
	));
	.swiper-container{
		.swiper-slide{
			img{
				width: 100%;
				display: block;
			}
		}
		.slider-control{
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.slider-pagination{
				.swiper-pagination-bullet{
					width: 14px;
					height: 14px;
					border: 1px solid #bfbfbf;
					background-color: #ffffff;
					box-sizing: border-box;
					opacity: 1;
					transition: 0.3s ease;
					+.swiper-pagination-bullet{
						margin-left: 10px;
					}
					&.swiper-pagination-bullet-active{
						width: 14px;
						height: 14px;
						background-color: #da2238;
						border-color: #da2238;
					}
				}
			}
			.slider-btns{
				display: flex;
				align-items: center;
				margin-left: 20px;
				.slider-button-prev,
				.slider-button-next{
					display: block;
					box-sizing: border-box;
					width: 35px;
					height: 35px;
					border-radius: 5px;
					border: 1px solid #b3b3b3;
					background-position: center center;
					background-repeat: no-repeat;
					background-color: #ffffff;
					cursor: pointer;
					transition: 0.3s ease;
					&:hover{
						background-color: rgba(71, 177, 200, 0.2);;
					}
				}
				.slider-button-prev{
					background-image: url("../img/arr-l.png");
				}
				.slider-button-next{
					margin-left: 9px;
					background-image: url("../img/arr-r.png");
				}
			}
		}
	}
}

.school-info-home-block{
	display: flex;
	margin-top: 30px;
	padding-bottom: 44px;
	margin-bottom: 5px;
	border-bottom: 1px solid #e6e6e6;
	@include media((
					padding-bottom: (sm:35px),
					width: (sm:calc(100% +30px)),
					margin-left: (sm:-15px),
					margin-right: (sm:-15px),
	));
	@include media((
					display: (lg: block),
	));
	.director-info-block{
		display: flex;
		width: 470px;
		@include media((
						width: (lg: auto),
						flex-direction: (sm: column),
						align-items: (sm: center),
		));
		.director-photo{
			width: 220px;
			height: 220px;
			flex-shrink: 0;
			overflow: hidden;
			border-radius: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.director-info{
			margin-left: 26px;
			margin-top: 14px;
			@include media((
							margin-left: (sm: 0),
							margin-top: (sm: 10px),
							display: (sm: flex),
							flex-direction: (sm: column),
							align-items: (sm: center),
			));
			.label{
				color: #47b1c8;
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: 4px;
			}
			.name{
				color: #2d2f32;
				font-size: 1.125rem;
				font-weight: 400;
				line-height: 1.375rem;
			}
			.text{
				color: #2d2f32;
				font-size: 1rem;
				font-weight: 400;
				a{
					color: #2d2f32;
				}
			}
			.info{
				@include media((
								display: (sm: flex),
								flex-direction: (sm: column),
								align-items: (sm: center),
				));
			}
			.contacts{
				margin-top: 17px;
				.phone{
					.text{
						padding-left: 20px;
						position: relative;
						&::before{
							content: "";
							display: block;
							width: 15px;
							height: 15px;
							background: url("../img/phone.svg") center center no-repeat;
							background-size: contain;
							position: absolute;
							left: 0;
							top: 2px;
						}
					}
				}
				.email{
					margin-top: 7px;
					.text{
						padding-left: 20px;
						position: relative;
						&::before{
							content: "";
							display: block;
							width: 18px;
							height: 16px;
							background: url("../img/mail.svg") center center no-repeat;
							background-size: contain;
							position: absolute;
							left: 0;
							top: 2px;
						}
					}
				}
				>*{
					@include media((
									display: (sm: flex),
									flex-direction: (sm: column),
									align-items: (sm: center),
					));
				}
			}
		}

		+.school-hello-block{
			max-width: 550px;
			margin-left: 30px;
			margin-top: 10px;
			@include media((
							max-width: (lg: 100%),
							margin-left: (lg: 0),
							margin-top: (lg: 40px),
			));
		}
	}

	.school-hello-block{
		.hello-block{
			@include media((
							text-align: (sm: center),
			));
			.big-title-block{
				margin-bottom: 15px;
			}
			.text{
				color: #474950;
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.375rem;
			}
		}
		>*+*{
			margin-top: 30px;
			@include media((
							margin-top: (sm: 20px),
			));
		}
		.priem-block{
			display: flex;
			align-items: flex-start;
			@include media((
							flex-direction: (sm: column),
							align-items: (sm: center),
			));
			.img{
				flex-shrink: 0;
				width: 97px;
				img{
					width: 100%;
					display: block;
					border-radius: 100%;
					background: #ffffff !important;
				}
			}
			.text-block{
				margin-left: 12px;
				margin-top: 12px;
				@include media((
								margin-left: (sm: 0),
								text-align: (sm: center),
				));
				.label{
					color: #2d2f32;
					font-size: 1.25rem;
					font-weight: 400;
				}
				.text{
					margin-top: 4px;
					color: #2d2f32;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.125rem;
					@include media((
									margin-top: (sm: 10px),
					));
					a{
						color: #da2238;
						text-decoration: underline;
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}

}

.home-main-block{
	+.home-main-block{
		margin-top: 25px;
	}
	.big-title-block{
		display: block;
		margin-bottom: 25px;
		color: #2d2f32;
		font-size: 1.5rem;
		font-weight: 400;
		vertical-align: middle;
		@include media((
						display: (sm: flex),
						justify-content: (sm: center),
		));
		&::before{
			@include media((
							position: (sm: static !important),
							margin-right: (sm: 8px),
			));
		}
	}

	.text-style{
		color: #474950;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.375rem;
	}

	.flex-block{
		@include flex-row(25px, 25px);
		@include media((
						margin-left: (sm: -20px),
						margin-top: (sm: -20px),
		));
		.item{
			@include flex-block(300px,25px, 25px,false,3);
			@include media((
							margin-left: (sm: 20px),
							margin-top: (sm: 20px),
			));
		}
	}


	&.alert-block{
		.big-title-block{
			padding-left: 39px;
			position: relative;
			&::before{
				content: "";
				display: block;
				width: 29px;
				height: 28px;
				position: absolute;
				left: 0;
				top: 1px;
				background: url("../img/alert.svg") center center no-repeat;
				background-size: contain;
			}
		}
	}

	&.opros-block{
		.big-title-block{
			padding-left: 39px;
			position: relative;
			&::before{
				content: "";
				display: block;
				width: 30px;
				height: 26px;
				position: absolute;
				left: 0;
				top: 1px;
				background: url("../img/opros.svg") center center no-repeat;
				background-size: contain;
			}
		}
		.flex-block{
			.opros{
				border-radius: 5px;
				border: 1px solid #d9d9d9;
				border-top: none;
				box-sizing: border-box;
				padding-bottom: 100px;
				position: relative;
				.title-block{
					color: #ffffff;
					font-size: 1.125rem;
					font-weight: 400;
					line-height: 1.375rem;
					text-align: center;
					border-radius: 5px 5px 0 0;
					background-color: #47b1c8;
					width: calc(100% + 2px);
					margin-left: -1px;
					margin-right: -1px;
					box-sizing: border-box;
					padding: 15px;
				}
				.content-block{
					background-color: #ffffff;
					padding: 20px 20px 0;
					.variants{
						min-height: 155px;
					}
					.btn-row{
						position: absolute;
						width: 100%;
						left: 0;
						bottom: 60px;
						button{
							margin: 0 auto;
						}
					}
					.link-row{
						position: absolute;
						bottom: 32px;
						left: 0;
						width: 100%;
						text-align: center;
						a{
							color: #da2238;
							font-size: 0.875rem;
							font-weight: 400;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}

					.results{
						color: #474950;
						font-size: 0.875rem;
						font-weight: 400;
						table{
							width: 100%;
							border-collapse: collapse;
							tr{
								td{
									padding: 7px 0;
									&:nth-child(1){
										padding-right: 5px;
										width: 60px;
									}
									.line{
										position: relative;
										height: 4px;
										border-radius: 2px;
										background-color: #5ba7cf;
										display: block;
										max-width: calc(100% - 40px);
										&.max{
											background-color: #da2238;
										}
										.value{
											position: absolute;
											left: 100%;
											margin-left:6px;
											top: -6px;
										}
									}
								}
							}
						}
						.total{
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

	&.comments-block{
		.big-title-block{
			padding-left: 39px;
			position: relative;
			&::before{
				content: "";
				display: block;
				width: 33px;
				height: 28px;
				position: absolute;
				left: 0;
				top: 1px;
				background: url("../img/comment.svg") center center no-repeat;
				background-size: contain;
			}
		}
		.comments-form{
			.form-style{
				.flex-block{
					margin-top: 0;
					.item{
						margin-top: 0;
					}
				}
			}
			.capcha-block{
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
				.capcha-title{
					color: #474950;
					font-size: 0.875rem;
					font-weight: 400;
					display: block;
					width: 100%;
					@include media((
									text-align: (sm: center),
					));
				}
				.input-block{
					margin-bottom: 0;
					width: 170px;
					@include media((
									width: (sm: 140px),
					));
				}
				.chapcha-img{
					margin: 0 25px 0 10px;
					flex-shrink: 0;
					@include media((
									margin: (sm: 0 0 0 10px),
					));
				}
				.btn-row{
					@include media((
									width: (sm: 100%),
									margin-top: (sm: 20px),
									display: (sm: flex),
									justify-content: (sm: center),
					));
				}

			}
		}

		.comments{
			margin-top: 46px;
			.comment-block{
				+.comment-block{
					margin-top: 20px;
				}
				.comment{
					margin-bottom: 20px;
				}
				.date-time{
					color: #a2aab3;
					font-size: 0.875rem;
					font-weight: 400;
				}
			}
		}
	}
}

.inner-page-block{
	padding: 24px 0 40px 20px;
	border-bottom: 1px solid #47b1c8;
	font-size: 0.875rem;
	line-height: 1.25rem;
	@include media((
					line-height: (sm: 1rem),
					padding: (sm: 18px 0 40px 0),
	));
	+.inner-page-block{
		margin-top: 40px;
	}
	legend{
		color: #2d2f32;
		font-size: 1.375rem;
		font-weight: 400;
		display: flex;
		align-items: center;
		width: calc(100% + 20px);
		margin-left: -20px;
		line-height: initial;
		@include media((
						font-size: (sm: 1.125rem),
						display: (sm: block),
						width: (sm: 100%),
						margin-left: (sm: 0),
		));
		&::after{
			content: "";
			display: block;
			height: 2px;
			background: #47b1c8;
			width: auto;
			margin-left: 9px;
			flex-grow: 1;
			@include media((
							margin-left: (sm:0),
							margin-top: (sm: 8px),
			));
		}
	}

	a{
		text-decoration: underline;
		font-size: 0.875rem;
		color: #da2238;
		&:hover{
			text-decoration: none;
		}
	}
	.document{
		padding-left: 20px;
		position: relative;
		display: inline-block;
		text-decoration: none;
		&::before{
			content: "";
			width: 14px;
			height: 16px;
			display: block;
			background: url("../img/file.svg") center center no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;
		}
		.document-name{
			text-decoration: underline;
		}
		.document-info{
			font-size: 0.8125rem;
			color: #5d636a;
			text-decoration: none;
		}
		&:hover{
			.document-name{
				text-decoration: none;
			}
		}
	}
	.table-title{
		color: #2d2f32;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 20px;
	}
	.table{
		display: table;
		border-collapse: collapse;
		@include media((
						display: (sm:block),
		));
		.tr{
			display: table-row;
			@include media((
							display: (sm:flex),
							flex-wrap: (sm:wrap),
			));
			.td{
				display: table-cell;
				padding-top: 8px;
				padding-bottom: 8px;
				padding-right: 20px;
				vertical-align: top;
				margin-bottom: 3px;
				@include media((
								display: (sm:block),
								padding: (sm:0 15px 0 0),
				));
				&:nth-child(n+2){
					color: #5d636a;
					font-size: 0.8125rem;
				}
				&:last-child{
					padding-right: 0;
				}
			}
			&:first-child{
				.td {
					padding-top: 0;
				}
			}
			&:last-child{
				.td{
					padding-bottom: 0;
				}
			}

			+.tr{
				@include media((
								margin-top: (sm:13px),
				));
			}
		}
		&:not(.autoWidth){
			.tr{
				.td{
					&:first-child{
						width: 254px;
						@include media((
										width: (sm:50%),
						));
					}
				}
			}
		}

	}

	ul{
		list-style: none;
		li{
			padding-top: 10px;
			padding-bottom: 10px;
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
	}

	.group-block{
		.group-title{
			background-color: #e4eef0;
			color: #2d2f32;
			padding: 10px 16px;
		}
		ul{
			border: 1px solid #e6e6e6;
			padding: 10px 16px;
		}
	}

	#map{
		width: 100%;
		height: 350px;
		@include media((
						height: (sm:290px),
		));
	}
}