$font1: "Roboto", sans-serif;

*:focus{
	outline: none;
}

body{
	font-family: $font1;
	font-size: 16px;
	color: #2d2f32;
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 1430px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
}


a{
	text-decoration: none;
}

input, textarea{
	color: #2d2f32;
}

::placeholder{
	font-family: $font1;
	color: #a2aab3;
}

#wrapper{
	padding-top: 60px;
	padding-bottom: 190px;
	overflow: hidden;
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
}

.fixed-header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 60px;
	background-color: #47b1c8;
	.container{
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		.search-form{
			position: relative;
			input{
				font-size: 0.8125rem;
				font-weight: 400;
				background: #ffffff;
				border: none;
				width: 411px;
				height: 30px;
				border-radius: 15px;
				box-sizing: border-box;
				padding: 0 30px 0 18px;
			}
			button{
				cursor: pointer;
				display: block;
				width: 30px;
				height: 30px;
				background: url("../img/search.svg") left center no-repeat;
				position: absolute;
				right: 0;
				top: 0;
				border: none;
			}
		}
		.low_see{
			font-size: 1rem;
			color: #ffffff;
			position: relative;
			line-height: 1;
			&::before{
				content: "";
				display: inline-block;
				width: 22px;
				height: 16px;
				background: url("../img/see.svg") center center no-repeat;
				margin-right: 9px;
				margin-bottom: 3px;
				vertical-align: middle;
			}
		}
	}
}

.header{
	padding: 23px 0 29px;
	background: #ffffff;
	background-size: cover;
	.suptext{
		color: #5d636a;
		font-size: 0.8125rem;
	}
	.school-name-row{
		margin-top: 6px;
		display: flex;
		align-items: center;
		.school-logo{
			margin-right: 12px;
			max-width: 40%;
			flex-shrink: 0;
			img{
				display: block;
				max-width: 100%;
			}
		}
		.school-name{
			color: #2d2f32;
			font-size: 1.75rem;
			line-height: 2rem;
		}
	}
	.school-contacts-row{
		margin-top: 26px;
		display: flex;
		font-size: 1rem;
		.phone{
			padding-left: 19px;
			position: relative;
			a{
				color: #474950;
			}
			&::before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 2px;
				width: 15px;
				height: 15px;
				background: url("../img/phone.svg") center center no-repeat;
				background-size: contain;
			}
		}
		.address{
			margin-left: 23px;
			padding-left: 20px;
			position: relative;

			&::before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 13px;
				height: 17px;
				background: url("../img/addr.svg") center center no-repeat;
				background-size: contain;
			}
		}
	}
}

.footer{
	background-color: #47b1c8;
	padding: 23px 0 0;
	height: 80px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	.text{
		text-align: center;
		color: #ffffff;
		font-size: 0.8125rem;
		a{
			color: #ffffff;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		p+p{
			margin-top: 3px;
		}
	}
}


.main{
	position: relative;
	&::before{
		content: "";
		display: block;
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 1px;
		background: #e2e7ea;
		z-index: -1;
	}
	&::after{
		content: "";
		display: block;
		position: absolute;
		left:0;
		top:39px;
		width: 100%;
		height: 1px;
		background: #e2e7ea;
		z-index: -1;
	}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.sidebar{
		width: 311px;
		> * + *{
			margin-top: 25px;
		}
	}
}

.home-block{
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	padding: 20px 20px 20px 25px;
	box-sizing: border-box;
	.title-block{
		color: #2d2f32;
		font-size: 1.125rem;
		font-weight: 400;
		margin-bottom: 14px;
		&::after{
			content: "";
			display: block;
			margin-top: 13px;
			width: 100px;
			height: 2px;
			background-color: #5ba7cf;
		}
	}
}


.sidemenu{
	width: 100%;
	.burder{
		background: #47b1c8;
		color: #fff;
		font-size: 1rem;
		width: 100%;
		line-height: 40px;
		padding-left: 12px;
		box-sizing: border-box;
		&::before{
			content: "";
			display: inline-block;
			margin-right: 13px;
			width: 18px;
			height: 10px;
			background: url("../img/burger.svg") center center no-repeat;
			background-size: contain;
		}
	}
}

.rss-news{
	.news{
		position: relative;
		padding-bottom: 9px;
		+.news{
			padding-top: 9px;
			&::before{
				content: "";
				width: calc(100% + 45px);
				left: -25px;
				top: 0;
				position: absolute;
				height: 1px;
				background-color: #e6e6e6;}
		}
		&:last-child{
			padding-bottom: 0;
		}
		.news-title-row{
			.news-title{
				color: #2d2f32;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.125rem;
			}
			.news-date{
				color: #a2aab3;
				font-size: 0.8125rem;
				font-weight: 400;
				line-height: 1.125rem;
				margin-left: 3px;
			}
		}
		.news-content{
			margin-top: 9px;
			img{
				max-width: 100%;
				margin-bottom: 12px;
			}
			.news-text{
				color: #474950;
				font-size: 0.8125rem;
				font-weight: 400;
				line-height: 1.25rem;
			}
			.news-link-row{
				margin-top: 8px;
				a{
					color: #5ba7cf;
					font-size: 0.8125rem;
					font-weight: 400;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		&:not(.full-news){
			.news-content{
				display: none;
			}
		}
	}
}

.page-title{
	color: #2d2f32;
	font-size: 1.75rem;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 30px;
	display: block;
}

.main-content{
	padding-top: 40px;
	width: 1044px;
}

.home-slider{
	width: 100%;
	.swiper-container{
		.swiper-slide{
			img{
				width: 100%;
				display: block;
			}
		}
		.slider-control{
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.slider-pagination{
				.swiper-pagination-bullet{
					width: 14px;
					height: 14px;
					border: 1px solid #bfbfbf;
					background-color: #ffffff;
					box-sizing: border-box;
					opacity: 1;
					transition: 0.3s ease;
					+.swiper-pagination-bullet{
						margin-left: 10px;
					}
					&.swiper-pagination-bullet-active{
						width: 14px;
						height: 14px;
						background-color: #da2238;
						border-color: #da2238;
					}
				}
			}
			.slider-btns{
				display: flex;
				align-items: center;
				margin-left: 20px;
				.slider-button-prev,
				.slider-button-next{
					display: block;
					box-sizing: border-box;
					width: 35px;
					height: 35px;
					border-radius: 5px;
					border: 1px solid #b3b3b3;
					background-position: center center;
					background-repeat: no-repeat;
					background-color: #ffffff;
					cursor: pointer;
					transition: 0.3s ease;
					&:hover{
						background-color: rgba(71, 177, 200, 0.2);;
					}
				}
				.slider-button-prev{
					background-image: url("../img/arr-l.png");
				}
				.slider-button-next{
					margin-left: 9px;
					background-image: url("../img/arr-r.png");
				}
			}
		}
	}
}

.school-info-home-block{
	display: flex;
	margin-top: 30px;
	padding-bottom: 44px;
	margin-bottom: 5px;
	border-bottom: 1px solid #e6e6e6;
	.director-info-block{
		display: flex;
		width: 470px;
		.director-photo{
			width: 220px;
			height: 220px;
			flex-shrink: 0;
			overflow: hidden;
			border-radius: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.director-info{
			margin-left: 26px;
			margin-top: 14px;
			.label{
				color: #47b1c8;
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: 4px;
			}
			.name{
				color: #2d2f32;
				font-size: 1.125rem;
				font-weight: 400;
				line-height: 1.375rem;
			}
			.text{
				color: #2d2f32;
				font-size: 1rem;
				font-weight: 400;
				a{
					color: #2d2f32;
				}
			}
			.contacts{
				margin-top: 17px;
				.phone{
					.text{
						padding-left: 20px;
						position: relative;
						&::before{
							content: "";
							display: block;
							width: 15px;
							height: 15px;
							background: url("../img/phone.svg") center center no-repeat;
							background-size: contain;
							position: absolute;
							left: 0;
							top: 2px;
						}
					}
				}
				.email{
					margin-top: 7px;
					.text{
						padding-left: 20px;
						position: relative;
						&::before{
							content: "";
							display: block;
							width: 18px;
							height: 16px;
							background: url("../img/mail.svg") center center no-repeat;
							background-size: contain;
							position: absolute;
							left: 0;
							top: 2px;
						}
					}
				}
			}
		}

		+.school-hello-block{
			max-width: 550px;
			margin-left: 30px;
			margin-top: 10px;
		}
	}

	.school-hello-block{
		.hello-block{
			.big-title-block{
				margin-bottom: 15px;
			}
			.text{
				color: #474950;
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.375rem;
			}
		}
		>*+*{
			margin-top: 30px;
		}
		.priem-block{
			display: flex;
			align-items: flex-start;
			.img{
				flex-shrink: 0;
				width: 97px;
				img{
					width: 100%;
					display: block;
				}
			}
			.text-block{
				margin-left: 12px;
				margin-top: 12px;
				.label{
					color: #2d2f32;
					font-size: 1.25rem;
					font-weight: 400;
				}
				.text{
					margin-top: 4px;
					color: #2d2f32;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.125rem;
					a{
						color: #da2238;
						text-decoration: underline;
						&:hover{
							text-decoration: none;
						}
					}
				}
			}
		}
	}

}

.home-main-block{
	+.home-main-block{
		margin-top: 25px;
	}
	.big-title-block{
		display: block;
		margin-bottom: 25px;
		color: #2d2f32;
		font-size: 1.5rem;
		font-weight: 400;
		vertical-align: middle;
	}

	.text-style{
		color: #474950;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.375rem;
	}

	.flex-block{
		@include flex-row(25px, 25px);
		.item{
			@include flex-block(300px,25px, 25px,true,3);
		}
	}

	&.alert-block{
		.big-title-block{
			padding-left: 39px;
			position: relative;
			&::before{
				content: "";
				display: block;
				width: 29px;
				height: 28px;
				position: absolute;
				left: 0;
				top: 1px;
				background: url("../img/alert.svg") center center no-repeat;
				background-size: contain;
			}
		}
	}
}