.sv_settings{
  display: none;
  padding: 10px;
  min-height: 40px;
  font-size:18px;
  color:#333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  @include media((
          display: (sm: none),
  ));
  >*{
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.sv_settings *{
  font-weight:bold;
}

.low-outer{
  display: block;
}

.low-outer button{
  margin-top: 3px;
  display:inline-block;
  background:white;
  color:black;
  height:33px;
  width:33px;
  padding: 0;
  border-radius: 100%;
  border: 2px solid #47b1c8;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  &:hover{
    box-shadow: 0 0 3px 0px #000000;
  }
  &.active{
    box-shadow: 0 0 4px 1px #000000;
    border-color: red;
  }
}


.fs-n{
  font-size:16px !important;
}
.fs-m{
  font-size:24px !important;
}
.fs-l{
  font-size:32px !important;
}


.cs-bw, .cs-bw:focus, .cs-bw:hover{
  color:black !important;
  background:white !important;
}
.cs-wb, .cs-wb:focus, .cs-wb:hover{
  color:white !important;
  background:black !important;
}
.cs-bb, .cs-bb:focus, .cs-bb:hover{
  color: #063462 !important;
  background: #9dd1ff !important;
}
.cs-gb, .cs-gb:focus, .cs-gb:hover{
  color: #4d4b43 !important;
  background: #f7f3d6 !important;
}
.cs-yg, .cs-yg:focus, .cs-yg:hover{
  color: #a9e44d !important;
  background: #3b2717 !important;
}

.ff-n{
  font-family: "Roboto", sans-serif;
}
.ff-z{
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.ls-s{
  letter-spacing: initial;
}
.ls-m{
  letter-spacing: 3px !important;
}
.ls-b{
  letter-spacing: 6px !important;
}


.lh-s{
  line-height: normal;
}
.lh-m{
  line-height: 2rem !important;
}
.lh-b{
  line-height: 3rem !important;
}


.lh-s-bg{
  background: #ffffff url("../img/low/h1.png") center center no-repeat !important;
}
.lh-m-bg{
  background: #ffffff url("../img/low/h2.png") center center no-repeat !important;
}
.lh-b-bg{
  background: #ffffff url("../img/low/h3.png") center center no-repeat !important;
}


.img-c{
  backdrop-filter: none;
}
.img-g{
  backdrop-filter: grayscale(100%);
}
.img-n{
  filter: none;
}

.fitlerGray{
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray;
  filter: grayscale(100%);
  backdrop-filter: grayscale(100%);
}

.noImg{
  display: none !important;
}
.noBg{
  background-image: none !important;
}

.img-c-bg{
  background: #ffffff url("../img/low/c1.png") center center no-repeat !important;
}
.img-g-bg{
  background: #ffffff url("../img/low/c2.png") center center no-repeat !important;
}
.img-n-bg{
  background: #ffffff url("../img/low/c3.png") center center no-repeat !important;
}